* {
  --bsg-color: #cf773b;
  --slide-color: #914e21;
  --text-color: white;
  --main-bg-color: #404040;
  --bg-start: #303030;
  --bg-end: #212121;
}

#Background {
  background: var(--main-bg-color);
}

*[class*='Border'] {
  /* TODO: should this be border-box? */
  box-sizing: content-box;
  border-style: solid;
  border-width: 0;
  border-color: var(--bsg-color);
}
.BorderTop {
  border-top-width: 5px;
}
.BorderRight {
  border-right-width: 5px;
}
.BorderBottom {
  border-bottom-width: 5px;
}
.BorderLeft {
  border-left-width: 5px;
}

/* TODO: scss */
.TimerFH.TimerParent {
  height: 100%;
}

strong {
  font-weight: bold;
  color: white;
}

.TimerFH.TimerParent .TimerContainer div {
  align-items: center;
}

.MBNoPadding .Slide {
  padding: 0px !important;
  padding-bottom: 10px !important;
}

.PlayerAudioLive {
  background: url("./bsg/audio-on.png") no-repeat 0 38% !important;
}

.bsglayout {
  * {
    box-sizing: border-box !important;
  }
  background-repeat: no-repeat;
}

#Intermission {
  background-image: url('./bsg/intermission.png');
}

.textOrangeShadow {
  text-shadow: 5px 5px 0px var(--bsg-color), 5px 7px 3px rgba(0, 0, 0, 0.5);
}

/*#Countdown #Background,
#Intermission #Background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./bsg/dorito.png');
  !*background: red;*!
}*/

.countdownLayout {
  background-image: url('./bsg/countdown.png');
}
