
#Total[data-v-5fb0984d] {
  /*padding: 0 13px 0 0;*/
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  float: right;
}

/* Each character in the total is in a span; setting width so the numbers appear monospaced. */
#Total > span[data-v-5fb0984d] {
  padding-top: 14px;
  display: inline-block;
  text-align: center;
  background: var(--slide-color);
  position: relative;
}
#Total span[data-v-5fb0984d]:first-of-type {
  /*padding-left: 10px;*/
  background: unset !important;
}

/*#Total span:first-of-type:before {
  content: '';
  position: absolute;
  background: url('../omniing/right_dash_front.png');
  background-position: center center;
  background-size: cover;
  height: 82px;
  width: 104px;
  left: -104px;
  top: 0px;
}*/
#Total > .Comma[data-v-5fb0984d] {
  display: inline-block;
  width: 0.22em;
  text-align: center;
}
.coin-thing[data-v-5fb0984d] {
  z-index: 10000000;
}

/* TODO: implement animatecss with this */
.fade-enter-active[data-v-5fb0984d], .fade-leave-active[data-v-5fb0984d] {
  transition: opacity 0.5s ease;
}
.fade-enter[data-v-5fb0984d], .fade-leave-to[data-v-5fb0984d]
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.dash[data-v-dd1a9766]{background-color:purple}

.Msg > span + span[data-v-3124c81c]::before {
  content: '';
  margin: 0 10px 0 7px;
}
.Title[data-v-3124c81c] {
  font-weight: 600;
}


.BarText[data-v-b89d257c] {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 7px 10px;
  border-radius: 15px;
}
.BarTextFull[data-v-b89d257c] {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 150%;
  height: 100%
}


.BarText[data-v-6e3a503f] {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 7px 10px;
  border-radius: 15px;
}


.Option[data-v-39c72250] {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  font-size: 25px;
}


.BarText[data-v-5f5d6685] {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 7px 10px;
  border-radius: 15px;
}

#Ticker[data-v-698ad964]{height:100%;min-width:0;flex:1;padding-top:2px;margin-left:12px;align-items:center;font-family:"Goodlight"}.ticker-leave-active[data-v-698ad964]{animation:fadeOutUp;animation-duration:500ms;animation-timing-function:ease-in-out}.ticker-enter-active[data-v-698ad964]{animation:fadeInUp;animation-duration:500ms;animation-timing-function:ease-in-out}.ticker-enter[data-v-698ad964],.ticker-leave-to[data-v-698ad964]{opacity:0}

.Clock[data-v-514c8462] {
  flex-shrink: 3;
  font-size: 35px;
  /*width: 90px;*/
  padding-left: 30px;
  padding-top: 19px;
  font-family: 'Goodlight'
}

html,body{padding:0;margin:0}#omnibar{position:relative;flex-grow:1;width:1920px;height:82px;background:linear-gradient(180deg, var(--bg-start) 0%, var(--bg-end) 100%)}#omnibar #left{position:absolute}#omnibar #left .box{position:absolute;left:0;height:82px;width:var(--dash-left-width);background:var(--bsg-color);border-radius:0px 0px 34px 0px/0px 0px 100px 0px}#omnibar #left #logobsg{position:relative;left:169px;width:50px;height:50px;top:-62px}#omnibar #left #dash{position:absolute;background:url(../img/left_dash-f6b4e5c7fd833ab71dde.png);left:calc(var(--dash-left-width) - 14px);width:321px;height:82px;top:0;animation-duration:500ms;font-family:"Goodlight"}#omnibar #left #dash.hide{display:none}#omnibar #left #dash p{color:#fff;position:absolute;left:34px;max-width:200px;word-break:break-word;top:22px;font-size:1.9vw;text-transform:uppercase;vertical-align:middle;text-align:center;margin:0}#omnibar #information{transform:translateY(-50%);top:50%;position:absolute;color:#fff;font-size:39px;left:489px;width:981px;animation-duration:500ms;height:82px}#omnibar #information.no-dash{left:194px;width:1285px;transform:unset;top:5px}#omnibar #right{position:absolute;right:0;top:0}#omnibar #right .box{position:absolute;right:0;height:82px;width:177px;background:var(--bsg-color);border-radius:0px 0px 0px 34px/0px 0px 0px 85px}#omnibar #right .box img{position:relative;height:82px;left:58px}#omnibar #right .dash{position:absolute;right:192px;min-width:10px;height:82px;top:0;animation-duration:500ms}#omnibar #right .dash:before{content:"";position:absolute;background:url(../img/right_dash_front-b44b69de6ca7938c0fee.png) center center;background-size:cover;height:82px;width:104px;left:-75px;top:0px}#omnibar #right .dash:after{content:"";position:absolute;z-index:0;background:url(../img/right_dash_back-68a48f3d7c02cbf10880.png) center center;background-size:cover;height:82px;width:44px;right:-41px;top:0px}#omnibar #right .dash.hide{display:none}#omnibar #right .dash p{color:#fff;position:relative;top:calc((82px - 50px) / 2);font-size:39px}#GenericMessage{padding-top:8px}.omnibar-dash-leave-active{animation:slideOutLeft;animation-duration:500ms;animation-timing-function:ease-in-out}.omnibar-dash-enter-active{animation:slideInLeft;animation-duration:500ms;animation-timing-function:ease-in-out}.omnibar-dash-enter,.omnibar-dash-leave-to{left:0px}
